@model IEnumerable<CinemaApp.Models.Provole>

@{
    ViewData["Title"] = "showSchedule";
}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        font-family: Arial, sans-serif;
    }

    .add-screening-button {
        display: inline-block;
        padding: 10px 20px;
        font-size:15px;
        background-color: #34568b;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 10px;
    }

     

    th, td {
        padding: 12px;
        border: 1px solid #ddd;
        text-align: left;
        font-size:20px;
        text-align: center;
    }

    th {
        background-color: #f2f2f2;
        color: black;
        font-size: 25px;
        
    }

    tr {
        background-color: #f2f2f2;
    }

    .no-data {
        text-align: center;
        font-style: italic;
        color: #666;
    }
 </style>

<h1 style="color:#DFCFBE">Movie Schedule</h1>

<table class="table">
    <thead>
        <tr>
            <th>Movie Time</th>
            <th>Movie Name</th>
            <th>Screening Room</th>
            <th>3D</th>          
            <th>Tickets</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.MoviesTime)</td>
                    <td>@Html.DisplayFor(modelItem => item.Movies.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Cinemas.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Cinemas._3d)</td>
                    <td>
                        <a asp-controller="Customers" asp-action="GetTickets" asp-route-screeningId="@item.Id">Get Tickets</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" class="no-data">No data available</td>
            </tr>
        }
    </tbody>
</table>
<center>
    <a asp-controller="Reservations" asp-action="ShowHistory" class="add-screening-button" style="font-size:20px">Show Reservation History</a>
</center>


